/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 23, 2024, 11:27:42 PM
    Author     : LAPTOP
*/

.header
{
    background-color: #191F2B;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 30px;
}
.logo
{
    display: flex;
    gap : 5px;
    font-size: 30px;
    margin-top: 10px;
}
.logo p
{
   color: #235C63;
   margin-top: 15px;
   font-family: 'Great Vibes', cursive;
}
.logo img
{
    width: 50%;
    height: 70%;
}
.header-button
{
    width: 330px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color : white;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}
.header-avatar {
    width: 150px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : auto 0;
    cursor: pointer;
}

.cart {
    display: inline-block;
    padding: 10px;
    border-radius: 50%; /* Circular shape */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover effect */
}

.cart i {
    color: #0d6efd; /* Primary blue color */
    font-size: 2rem; /* Increase icon size */
}

.cart:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
}

.cart:hover i {
    color: #fff; /* Change icon color to white on hover */
}


.avatar {
    height: 100%;
}

.avatar img{
    width: 100%;
    height: 100%;
}

