/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 23, 2024, 11:27:42 PM
    Author     : LAPTOP
*/

.header
{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.logo
{
    display: flex;
}
.logo img
{
    width: 50%;
}