<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ManageProfile</servlet-name>
        <servlet-class>Servlet.ManageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfileServlet</servlet-name>
        <servlet-class>Servlet.ManageProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductToCartAndPayServlet</servlet-name>
        <servlet-class>Servlet.ProductToCartAndPayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Servlet.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Servlet.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>Servlet.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCouponServlet</servlet-name>
        <servlet-class>Servlet.AddCouponServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInfoServler</servlet-name>
        <servlet-class>Servlet.OrderInfoServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Servlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>Servlet.Config</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>Servlet.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>Servlet.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>Servlet.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComfirmAndCancelOrder</servlet-name>
        <servlet-class>Servlet.ComfirmAndCancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToVNPAY</servlet-name>
        <servlet-class>Servlet.ToVNPAY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>Servlet.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProfile</servlet-name>
        <url-pattern>/ManageProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfileServlet</servlet-name>
        <url-pattern>/ManageProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductToCartAndPayServlet</servlet-name>
        <url-pattern>/ProductToCartAndPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCouponServlet</servlet-name>
        <url-pattern>/AddCouponServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInfoServler</servlet-name>
        <url-pattern>/OrderInfoServler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Config</servlet-name>
        <url-pattern>/Config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComfirmAndCancelOrder</servlet-name>
        <url-pattern>/ComfirmAndCancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToVNPAY</servlet-name>
        <url-pattern>/ToVNPAY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/ShoppingCart.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/ProductToCartAndPayServlet</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>landingPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
